# Core Transformers & Tokenizers
transformers==4.44.2
tokenizers==0.13.3

# Torch & NumPy for model
torch==2.2.0
numpy==1.25.0

# Translation (optional)
deep-translator==1.10.1

# SentencePiece required for some Roberta models
sentencepiece==0.1.99

# Flask for API
flask==2.3.3